@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.terminalContainer {
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminalBackground {
  padding: 45px;
}

.terminal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  user-select: none;
  background: rgb(15, 20, 20);
}

.terminalBackground .terminal {
  background: rgba(5, 20, 20, 0.94);
  box-shadow: 0 26px 43px 0 rgba(0, 0, 0, 0.47), 0 0 2px 0 rgba(0, 0, 0, 0.34);
}

.terminalTitleBar {
  border-radius: 5px 5px 0 0;
  text-overflow: ellipsis;
  padding: 0 80px;
  white-space: nowrap;
  overflow: hidden;
  height: 25px;
  line-height: 24px;
  text-align: center;
  color: #2e2e2e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: linear-gradient(0deg, #cacaca, #e2e2e2);
  border-top: 0.5px solid #f3f3f3;
  border-bottom: 0.5px solid #7d7d7d;
  position: relative;
}

.terminalButtons {
  position: relative;
  height: 25px;
}

.terminalButtons:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 10px;
  width: 10px;
  height: 10px;
  background: #f95c5b;
  border-radius: 100%;
  box-shadow: 0 0 0 1px #da3d42, 20px 0 0 0 #fabe3b, 20px 0 0 1px #ecb03e, 40px 0 0 0 #38cd46, 40px 0 0 1px #2eae32;
}

.terminalContent {
  display: flex;
  flex-direction: column-reverse; /* auto scrolls content to bottom */
  flex: 1;
  overflow: auto;
  user-select: text;
  font-family: 'Inconsolata', Consolas, 'Lucida Console', 'Lucida Sans Typewriter', Monaco, monospace;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: #ebebeb;
  white-space: pre-wrap; /* prevent spaces from collapsing */
}

/* having an inner wrapper re-reverses parent's column-reverse */
.terminalContentInner {
  flex: 1;
  padding: 12px;
}

.terminalInput {
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: middle;
}

.terminalInput:before {
  display: inline-block;
  vertical-align: middle;
  color: #5ed7ff;
  content: attr(data-prompt);
  padding: 0 9px 0 0;
}

.terminalInput,
.terminalInput span,
.terminalOutput {
  width: 0;
  height: 0;
  overflow: hidden;
  animation: appear 0.001ms linear forwards;
}

.terminalOutputReplace {
  animation: appear 0.001ms linear forwards, hide 0ms linear forwards;
}

.cursor {
  display: inline-block;
  vertical-align: middle;
  background: #666;
  animation: cursorAppear 0.001ms linear forwards, hide 0ms linear forwards;
}

@keyframes appear {
  to {
    width: auto;
    height: auto;
  }
}

@keyframes hide {
  to {
    width: 0;
    height: 0;
  }
}

@keyframes cursorAppear {
  to {
    width: 7px;
    height: 17px;
  }
}
