*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #444;
}

body,
input,
button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

button {
  background: #444;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 4px 8px;
  cursor: pointer;
  margin: 0 4px 0 0;
}

button:active {
  background: #222;
}

input {
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 40px 20px;
  width: 100%;
}

.appTitle {
  margin: 0 0 20px;
  font-size: 38px;
  font-weight: 100;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.appTagline {
  margin: 0 0 40px;
  padding: 0 40px;
  font-weight: 300;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.4;
}

.appLinks {
  margin: 60px 0 0;
}

.appLinks a {
  text-transform: uppercase;
  margin: 0 20px;
  color: #444;
  font-size: 10px;
  letter-spacing: 1px;
}

.exportContainer {
  max-width: calc(100% + 40px);
  margin: 0 -20px;
}
