.controls {
  margin: 20px 0;
}

.control {
  margin: 5px 0;
}

.controlLabel,
.controlLabelSub {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 10px 10px;
}

.controlLabel {
  min-width: 90px;
}

.exportOptLabel {
  padding: 0 12px 0 4px;
  font-size: 12px;
  text-transform: uppercase;
}

.exportActions {
  text-align: center;
}

.alpha {
  text-transform: none;
  font-size: 9px;
  vertical-align: text-top;
  margin: 0 0 0 3px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.divider {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 12px 0;
}
